@charset "utf-8";

/* ----- 全体css ----- */
html{
  width: 100vw;
  background: url(../img/background_01.png);
  font-family: "Garamond Premier Pro", "HannariMincho", serif;
  font-size: 62.5%;  /* rem指定用の基準（10px）ブラウザのデフォルトを考慮して%指定 */
  letter-spacing: .2rem;
  color: #0F2350;
  /* line-height: 1.5; */
}
/* 特別記述がないところは下記のサイズに自動変更 */
@media screen and (min-width:500px){
  html{
    font-size: 80%;
  }
}
@media screen and (min-width:1000px){
  html{
    font-size: 90%;
  }
}
body{
  font-size: 1.3rem;
}

.all__container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0 auto;
}
.main__container{
  width: 100%;
}
@media screen and (min-width:1000px){
  /* 1440px以上はコンテンツ両端を伸縮 */
  /* 1440px以下はコンテンツそのもののwidthが変わる */
  .all__container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: #B32026; */
  }
  .main__container{
    width: calc(100% - 300px);
    margin-right: 300px;
  }
}

/* ----- コンポーネント ----- */
/* フレックス設定 */
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ボタン設定 */
.btn{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
/* 各セクションタイトル設定（サイト紹介以外） */
.title__container{
  width: 80%;
  margin: 0 auto 2rem;
}
.title__txt{
  flex-shrink: 0;
  padding: .5rem 1rem 0;
  font-size: 2rem;
  text-align: center;
}
.title__border{
  width: 40%;
  height: 5px;
  border-top: 1px solid #0F2350;
  border-bottom: 1px solid #0F2350;
}


/* ----- サイドバー ----- */
.sidebar__container{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #0F2350;
}
.sidebar__contents{
  width: 80%;
  margin: 3rem auto;
  color: #FFFFFB;
  text-align: center;
  /* border: #B32026 1px solid; */
}
.sidebar__logo,
.nav__contents{
  margin-bottom: 2rem;
}
.sidebar__title{
  margin-bottom: 1rem;
}
.sidebar__btn{
  width: 85%;
  margin: 0 auto;
}
.sidebar__btn:nth-of-type(1){
  margin-bottom: 1rem;
  background-color: #B32026;
}
.sidebar__btn:nth-of-type(2){
  margin-bottom: 1rem;
  background-color: #FFFFFB;
  color: #B32026;
}
.sidebar__btn:nth-of-type(3){
  background-color: #FFFFFB;
  color: #B32026;
}
/* 表示/非表示切り替え */
.show{
  display: block;
}
/* メニュー表示時に後ろを動かなくする（htmlとbodyに付与） */
.scroll{
  height: 100%;
}
@media screen and (min-width:1000px){
  .sidebar__container{
    display: block;
    width: 300px;
    height: 100vh;
  }
  .sidebar__contents{
    position: sticky;
    width: 300px;
    top: 3rem;
  }
}






/* ----- 各セクションの全体設定 ----- */
.section__container{
  width: 90%;
  margin: 3rem auto 0;
  /* border: #0F2350 2px dotted; */
}

.keyvisual__container,
.introduction__container,
.news__container,
.recommend__container,
.area__container,
.ranking__container,
.report__container,
.instagram__container,
.banner__container{
  position: relative;
  margin: 0 auto 6rem;
  /* border: 3px solid #000; */
}
/* サイドバーがあるとき、2カラムになるところ */
@media screen and (min-width:1000px){
  .flex__container{
    display: flex;
  }
}



/* ----- ヘッダー ----- */
#header{
  background-color: #0F23;
}
.header__logo{
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
  background-color: aqua;
}
.header__img{
  width: 40%;
}
/* humburger__part */
.humburger__container{
  display: inline-block;
  position: fixed;
  top: 1rem;
  right: 5%;
  z-index: 100;
  width: 5.3rem;
  height: 5rem;
  padding: 2rem;
  cursor: pointer;
  background-color: #0F2350;
  border-radius: 5rem;
}
.humburger__part{
  background-color: #FFFFFB;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  transition-duration: 500ms
}
.humburger__part:nth-child(1){
  top: 30%;
}
.humburger__part:nth-child(2){
  top: 48%;
  opacity: 1;
}
.humburger__part:nth-child(3){
  top: 67%;
}
/* ハンバーガーメニューを開いた時のアニメーション */
.humburger__container.open{
  background-color: #FFFFFB;
}
.humburger__container.open .humburger__part:nth-child(1){
  /* 上記のtranslateがrotateで打ち消されてしまうため再度記載 */
  transform: rotate(45deg) translateX(-70%);
  top: 75%;
  background-color: #0F2350;
}
.humburger__container.open .humburger__part:nth-child(2){
  opacity:0;
}
.humburger__container.open .humburger__part:nth-child(3){
  transform: rotate(-45deg) translateX(-70%);
  top: 24%;
  background-color: #0F2350;
}
@media screen and (min-width:1000px){
  #header{
    display: none;
  }
  .humburger__container{
    display: none;
  }
}



/* ----- キービジュアル ----- */
.keyvisual__img{
  width: 100%;
  border-radius: 30px;
}
.keyvisual__wrap{
  display: none;
}
@media screen and (min-width:800px){
  .keyvisual__wrap{
    display: flex;
    position: absolute;
    left: 3%;
    bottom: 5%;
  }
  .keyvisual__txt{
    padding: 1rem .3rem 1rem 0;   /* フォントの関係で微妙に左右の配置が違って見えるところの修正 */
    margin-right: 10%;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(12px);
    font-size: 2rem;
    text-align: center;
    color: #FFFFFB;
    line-height: 1.5;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .keyvisual__txt:last-child{
    margin: 0;
  }
}


/* ----- サイト紹介 ----- */
.introduction__container{
  text-align: center;
  border: 2px dashed #0F2350;
}
.introduction__title{
  display: inline-block;
  position: relative;
  padding: .6rem 1.5rem 0;
  transform: translate(0, -50%);
  background-color: #0F2350;
  font-size: 2rem;
  color: #FFFFFB;

}
.introduction__title::before,
.introduction__title::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}
.introduction__title::before{
  left: -1rem;
  border-width: 1rem 1rem 1rem 0;
  border-color: transparent #0F2350 transparent transparent;
}
.introduction__title::after{
  right: -1rem;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent #0F2350;
}
.introduction__txt{
  padding: 1rem 2rem 2rem;
  text-align: left;
}

/* ----- お得情報 ----- */
.news__list{
  width: 100%;
  margin: 0 auto .5rem;
  border-bottom: 1px dashed #0F2350;
}
.news__list:last-of-type{
  margin-bottom: 0;
}
.news__contents{
  display: block;
  padding: .5rem;
}
.news__category{
  display: none;
}
@media screen and (min-width:1000px){
  .news__list{
    width: 90%;
  }
  .news__category{
    display: inline;
  }
}


/* ----- おすすめ ----- */
.recommend__container{
  text-align: center;
}
.recommend__img{
  width: 60%;
  height: 30%;
}
.recommend__link:first-of-type{
  display: block;
  margin-bottom: 2rem;
}


/* ----- エリアで探す ----- */
.area__contents{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* background-color: aqua; */
}
/* img全体設定（4枚全て） */
.area__img{
  width: 100%;
}
@media screen and (min-width:1000px){
  .area__contents{
    width: 70%;
  }
}
/* タイトル全体設定 */
.area__title{
  display: inline;
  position: absolute;
  font-size: 2rem;
}
/* 県西 */
.area__wrap--west{
  position: absolute;
  width: 50%;
  top: 12.5%;
  left: 2%;
}
.area__title--west{
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 県東 */
.area__wrap--east{
  position: absolute;
  width: 41%;
  top: 1.5%;
  right: 10.5%;
}
.area__title--east{
  top: 55%;
  right: 50%;
  transform: translate(50%, -50%);
}
/* 県南 */
.area__wrap--south{
  position: absolute;
  width: 61%;
  bottom: 2.5%;
  right: 3%;
}
.area__title--south{
  top: 45%;
  right: 50%;
  transform: translate(50%, 0);
}
/* hoverエフェクト */
.area__wrap--west:hover,
.area__wrap--east:hover,
.area__wrap--south:hover{
  opacity: .7;
}


/* ----- ランキング ----- */
.ranking__contents{
  flex-wrap: wrap;
}
.ranking__link{
  display: block;
  flex-shrink: 0;
  position: relative;
  width: 48%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #0F2350;
}
.ranking__link:first-of-type{
  width: 100%;
  margin-bottom: 1.5rem;
}
.ranking__link:nth-of-type(2),
.ranking__link:nth-of-type(3){
  margin-bottom: 1.5rem;
}
.ranking__link:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.ranking__img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}
/* 写真内のテキスト位置は決め打ち */
/* ウィンドウサイズ大きくなったら小さくしたいため */
.ranking__number,
.ranking__name{
  position: absolute;
  left: 12px;
  z-index: 1;
  width: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
}
.ranking__number{
  top: 12px;
  height: 40px;
  padding: 9px 0 9px 3px;
  background-color: #FFFFFB;
  border: 2px solid #0F2350;
  color: #0F2350;
  text-align: center;
}
.ranking__name{
  top: 60px;
  height: 75%;
  padding: 10px 0;
  background-color: #0F2350;
  color: #FFFFFB;
  line-height: 2.2;
  overflow: hidden;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (min-width:1000px){
  .ranking__container{
    width: 50%;
  }
  .ranking__contents{
    width: 70%;
    margin: 0 auto;
  }
}


/* ----- 試食レポート ----- */
.report__contents{
  margin-bottom: 3rem;
}
.report__wrap{
  width: 70%;
}
.report__title{
  padding: .5rem .5rem .1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  background-color: #0F2350;
  color: #FFFFFB;
}
.report__txt{
  font-size: 1.1rem;
}
.report__img--cover{
  position: relative;
  width: 25%;
  border-radius: 50%;
  overflow: hidden;
}
.report__img--cover:before{
  content: "";
  display: block;
  padding-top: 100%;
}
.report__img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}
.report__btn{
  width: 60%;
  margin: 0 auto;
  background-color: #0F2350;
  color: #FFFFFB;
}
@media screen and (min-width:1000px){
  .report__container{
    width: 50%;
  }
  .report__contents{
    width: 75%;
    margin: 0 auto 3rem;
  }
  .report__wrap{
    width: 65%;
  }
  .report__img--cover{
    width: 30%;
  }
}
/* ----- インスタグラム ----- */
.instagram__contents{
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 2rem;
}
.instagram__test{
  width: 46%;
  height: 200px;
  margin-bottom: 1rem;
  background-color: #FFFFFB;
  border: 1px solid #000;
}
.instagram__test:nth-child(3),
.instagram__test:nth-child(4){
  margin: 0;
}
.instagram__btn{
  width: 80%;
  margin: 0 auto;
  background-color: #FFFAFA;
  border: 2px solid #A81F22;
}
.instagram__txt{
  color: #A81F22;
  margin-bottom: 1rem;
}
.instagram__txt--big{
  font-size: 2rem;
}


/* ----- バナー ----- */
.banner__container{
  text-align: center;
}
.banner__img{
  width: 60%;
}
.banner__link:first-of-type,
.banner__link:nth-last-of-type(2){
  display: block;
  margin-bottom: 2rem;
}
@media screen and (min-width:1000px){
  .banner__img{
    width: 30%;
  }
  .banner__link:first-of-type,
  .banner__link:nth-last-of-type(2){
    display: inline;
    margin-bottom: 0;
  }
}


/* ----- フッター ----- */
#footer{
  justify-content: center;
  height: 30px;
  background-color: #0F2350;
  color: #FFFFFB;
}


@media screen and (min-width:800px){

}
